<% if sections? %>
  <%= tag.ul **component_attrs do %>
    <% sections.each.with_index do |section, index| %>
      <% if index > 0 %>
        <li aria-hidden="true"><%= divider %></li>
      <% end %>
      <li>
        <%= section %>
      </li>
    <% end %>
    <% if items? %>
      <li aria-hidden="true"><%= divider %></li>
      <li>
        <%= render StimulusPlumbers::Components::ActionList::SectionComponent.new do |section| %>
          <% items.each do |item| %>
            <% section.with_item do %>
              <%= item %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% else %>
  <%= render StimulusPlumbers::Components::ActionList::SectionComponent.new(**component_attrs) do |section| %>
    <% items.each do |item| %>
      <% section.with_item do %>
        <%= item %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
